<% if user_signed_in? %>
    <a class="navbar-elem right-align" data-method='delete' href="<%= destroy_user_session_path %>">Logout</a>
    <!--<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>-->
<% else %>
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email %>
        <%= f.password_field :password %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <%= f.submit 'Sign in' %>
        <%= link_to "Forgot your password?", new_password_path(:user) %>
        <%= link_to "Don't have an account? Sign up!", new_user_registration_path %>
    <% end %>
<% end %>