<!DOCTYPE html>
<html>
<head>
  <title>Whyvote</title>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Arimo', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>

<body>
<% if user_signed_in? %>
<div id="navbar">
  <a class="navbar-brand" href="/">
    <img src="<%= asset_path 'Whyvote_logo_transparent.png' %>" />
  </a>

  <a class="navbar-elem" href="/members/dashboard">Dashboard</a>
  <a class="navbar-elem" href="/members/profile">My Profile</a>
  <a class="navbar-elem" href="/pages/view-users">View Users</a>
  <a class="navbar-elem" href="/pages/survey-page">Survey</a>
  <a class="navbar-elem" href="/pages/about_whyvote">About</a>

<% end %>

  <% if user_signed_in? %>
      <a class="navbar-elem right-align" data-method='delete' href="<%= destroy_user_session_path %>">Logout</a>
      <!--<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>-->

  <% end %>
</div>


<!--<p class="notice"><%= notice %></p>-->
<!--<p class="alert"><%= alert %></p>-->
<div id="app-container">
    <%= yield %>
</div>

</body>

</html>
